$color_1: #f2f2f2;
$color_2: white;
$color_3: black;
$font-family_1: inherit;
$background-color_1: rgba(0, 0, 0, 0);
$background-color_2: #04AA6D;
$background-color_3: inherit;
$background-color_4: #f9f9f9;
$background-color_5: #555;
$background-color_6: #ddd;